@{
    ViewData["Title"] = "Politicas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p> El uso total o parcial del codigo de este sistema debe ser atribuido a Renato Ríos y Manuel Martinez, quienes lo desarrollaron.</p>
